.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #CCCCCC;
  left: 25px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: calc( 100% - 55px );
  float: right;
  /*border: 1px solid #d4d4d4;*/
  border-radius: 0px;
  padding: 10px;
  position: relative;
  /*-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);*/
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  left: -15px;
  display: inline-block;
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  left: -14px;
  display: inline-block;
}
.timeline > li > .timeline-badge {
  color: #FFFF99;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 13px;
  

}
.timeline > li.timeline-inverted > .timeline-panel {
  float: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  right: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #006699  !important;
}
.timeline-badge.up {
  background-color: #339933 !important;
}
.timeline-badge.down {
  background-color: #CC3333 !important;
}
.timeline-badge.neutral {
  background-color: #999999 !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}

.timeline-subtitle{ 
    font-size:10px;
    color:darkgrey;
    font-weight: bold; 
    margin: 10px;
}

.h1-custom{
    color: #59e0c9;
    font-size:109px;
    font-weight:bold;
    margin:10 -15 -1 -10;
}

.h2-custom{
    margin-bottom: -25px;
    font-size:34;
    font-weight:bold;
    margin-left: 5px;
    
}

.h3-custom{
    color:#59e0c9;
    
}

body{
    color:black;
    font-family: Baskerville, “Baskerville Old Face”, “Hoefler Text”, Garamond, “Times New Roman”, serif; 
    background: white;

}

.list-group-item {
        border: none; 
        margin-bottom: -26px;
}
.red {
    background-color: #FF5454;
}

.light-teal {
    background-color: #ACF7EB;
   
}

.margin-bottom{
    margin-bottom: -34px;;
}

.progress {
    border-radius: 0;
    background-color:#DDDDDD;
}

a:hover, a:focus {
    color: #FF5454;
    text-decoration: underline;
}

.spacer {
    margin: 20px;
}

.about-me{
    margin:none;
    font-size:18px;
    background-color:lightgrey;
    margin-left: 7;
    margin-top: 50;
}

.red-text{
    color:#ff3333;
}

.h3-blue-font{ 
    color:#ACF7EB;
    display:inline-block;
}
.h3-slash{  
    display:inline-block;
}

.timeline-badge.up {
    background-color: #ff3333 !important;
}

.timeline-badge.down {
    background-color: #59e0c9 !important;
}

.education-red{
    margin-left: 40;
    color:#FF5454;
}

.black-slash{
    color:black;
}

.about-me-bottom-spacer{
    margin-bottom: -50px;
    margin-top: 25px
}

@media (max-width:767px){
.h1-font-size{
    font-size:5em;
    margin-top: 13px; !important
    margin-bottom: 0;
    margin-left: -12;
    margin-right: 0px;
    }
}

@media (max-width:767px){
.h2-font-size{
    font-size:2em;
    }
}
@media (max-width:767px){
 .about-me-bottom-spacer{
     margin-bottom:-100px;
     margin-top: 40px;
 }
}

.box-spacer{
    margin-right:10px;
}